{% extends 'base.html' %}

{% block title %}about{% endblock %}

{% block content %}
<div class="card border-white mb-3"> 
    <div style="width: 15px; height: 15px; border-radius: 50%; background: green; margin: auto;"></div>
        <h2 style="text-align: center;">¿Quién soy?</h3>
      
    <div class="card-body" style="text-align: justify; text-indent: 20px; font-size: 1.2em;">
        <p>
            Me considero una persona proactiva, autodidacta, de aprendizaje rápido, 
            dedicada, persistente y con claros objetivos a futuro. Creo que el tiempo es uno 
            de nuestros mas grandes enemigos, y por ende, no me gusta desperdiciarlo, 
            todo lo contrario, me encanta aprovecharlo al máximo y a mí parecer 
            no hay mejor manera de hacerlo que aprendiendo, es por ello, que cada día 
            algo nuevo que pueda ayudarme en mí crecimiento personal y profesional.

        </p>       
        
    </div>
    <hr>
    <div style="width: 15px; height: 15px; border-radius: 50%; background: green; margin: auto;"></div>

    <h2 style="text-align: center;">Objetivos</h2>
      
    <div class="card-body" style="text-align: justify; text-indent: 20px; font-size: 1.2em;">
        <p>
            Uno de mis principales objetivos es convertirme en un desarrollador 
            <strong>FullStack</strong>, dicho objetivo pienso lograrlo adquiriendo 
            nuevas aptitudes (javaScript, nodejs, reactjs, etc) y mejorando las actuales. 
        </p>
        <p>
            Otro de mis objetivos es ser un ingeniero en sistemas 
            y poder adquirir conociemientos en distintas áreas tecnologicas (redes, 
            desarrollo de sistemas operativos, etc) además de mejorar mis habilidades 
            en el desarrollo de software.
        </p>
        <p>
            Cabe mencionar que me encanta la ciencia de datos, es por ello, que otro 
            de mis objetivos es aprender <strong>python for data science</strong>, en donde 
            deberé aprender libreries esenciales para el analisis de datos como numpy y 
            pandas, pero también tendré que aprender a visualizar los datos para su 
            mayor entendimiento y con matplotlib lo puedo lograr. luego de ello 
            me gustaria adentrarme en el área de <strong>machine learning</strong>.      
        </p>
    </div>
    <hr>
    <div style="width: 15px; height: 15px; border-radius: 50%; background: green; margin: auto;"></div>
    
        <h2 style="text-align: center;">¿Por qué contratarme?</h2>
       
    <div class="card-body" style="text-align: justify; text-indent: 20px; font-size: 1.2em;">
        <p>
            Si bien no poseo experiencia laboral, tengo la capacidad de aprender 
            rápido y por mi cuenta, además como pueden darse cuenta me gusta poner 
            en práctica mis conocimientos realizando proyectos, además de ello, 
            estoy dispuesto a adquirir nuevos conocimientos en distintas áreas.
        </p>
        <p>
            Anteriormente mencioné algunos de mis objetivos, pero cabe destacar que esta lista 
            puede extenderse  dependiendo de lo que desea la empresa en la que labore.
        </p>
        <p>
            Además estoy estudiando y poco a poco, a medida que avance en la carrera, 
            iré adquiriendo nuevos conocimientos, conocimientos que puedo poner en práctica 
            en cualquier emporesa.
        </p>
    </div>

    <hr>
    <div style="width: 15px; height: 15px; border-radius: 50%; background: green; margin: auto;"></div>
    
        <h2 style="text-align: center;">Educación</h2>
       
    <div class="card-body">
        <div style="margin-left: 10%; text-align: left; color: rgb(151, 142, 142); float: left; width: 40%;">
            <small>2011-2016</small><br>
            <small>Caracas-Venezuela</small>
            <br><br>
            <small>2020-2025</small><br>
            <small>Caracas-Venezuela</small>
        </div>
        <div style="text-align: left; float: right; width: 40%;">
            <small><b>Titulo: Bachiller en ciencias</b></small><br>
            <small>U.E "El Pinar"</small>
            <br><br>
            <small><b>Título: Ingeniería en sistemas</b></small><br>
            <small>UNEFA. Cursando segundo semestre</small>
        </div>
</div>

  

{% endblock %}